.hero {
  width: 100%;
  background: #faf9f8;
  border-radius: 18px;
  margin: 0;
  padding: 120px 60px 80px 60px;
  max-width: 1280px;
  margin: 0 auto;

  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__img-wrap {
    width: 410px;
    height: 422px;
  }

  &__img {
    width: 410px;
    height: 422px;
    object-fit: cover;
  }

  &__content {
    padding-right: 42px;
    display: flex;
    gap: 54px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.15em;
    color: #000;
    padding-top: 50px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    color: #000;
  }

  &__btn {
    border-radius: 59px;
    width: 206px;
    height: 55px;
    background: #8e9a82;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: #fff;
    border: none;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      background: #768f76;
      box-shadow: 0 4px 16px rgba(107, 142, 107, 0.13);
    }
  }

  @media (max-width: 900px) {
    &__container {
      flex-direction: column;
      gap: 32px;
      padding: 0 10px;
      align-items: center;
    }
    &__content {
      align-items: center;
      padding-left: 0;
      text-align: center;
    }
    &__img-wrap {
      padding: 12px;
      margin-right: 0;
    }
    &__img {
      width: 180px;
      height: 180px;
    }
  }
}
