.about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
  padding: 107px 103px 69px 42px;
  max-width: 1280px;
  margin: 0 auto 48px auto;
  background: #fff;
  box-shadow: none;

  &__img-wrap {
    flex: 0 0 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__img {
    width: 316px;
    height: 626px;
    object-fit: cover;
  }

  &__content {
    flex: 1 1 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.15em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 37px;
  }

  &__text1 {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
  }
  &__text2 {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-bottom: 45px;
  }

  &__btn {
    width: 205px;
    height: 59px;
    border: 5px solid #8e9a82;
    border-radius: 10px;
    width: 205px;
    height: 59px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: #000;
    transition: all 0.3s ease;
    &:hover {
      background: #a9bb9a;
      color: #fff;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 24px;
    padding: 32px 10px;
    &__img-wrap {
      padding: 0;
      justify-content: center;
    }
    &__img {
      width: 180px;
      height: 220px;
    }
    &__content {
      padding: 0;
      text-align: center;
      align-items: center;
    }
  }
}
