.header {
  width: 100%;
  background: #faf9f8;
  padding: 0;
  box-shadow: none;

  &__container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 133px 0 78px;
    min-height: 80px;
  }

  &__logo {
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }

  &__nav {
    display: flex;
    gap: 66px;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__nav-item {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    &:hover {
      color: #6b8e6b;
    }
  }

  @media (max-width: 900px) {
    &__container {
      flex-direction: column;
      gap: 12px;
      padding: 18px 10px 12px 10px;
      align-items: center;
    }
    &__nav {
      gap: 18px;
      justify-content: center;
    }
    &__logo {
      margin-bottom: 8px;
    }
  }
}
