.category-list {
  max-width: 991px;
  margin: 0 auto;
  width: 100%;
  background: #fff;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-wrap: nowrap;
  }

  &__title-top {
    font-size: 32px;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
  }

  &__title-bottom {
    font-size: 32px;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
  }

  &__items {
    display: flex;
    gap: 8px;
    width: 379px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }

  &__item {
    flex-shrink: 0;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    cursor: pointer;
    &:nth-child(1) {
      margin-left: -52px;
    }
    &:nth-child(4) {
      margin-right: -52px;
    }
    &:nth-child(1) .category-list__img,
    &:nth-child(4) .category-list__img {
      object-fit: none;
    }
    &:nth-child(2) .category-list__img,
    &:nth-child(3) .category-list__img {
      width: 133px;
      height: 136px;
      object-position: center center;
    }
  }

  &__img {
    object-fit: cover;

    background: #f0f2ef;
    display: block;
  }

  &__stripe-img-wrap {
    width: 375px;
    height: 89px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f2ef;
  }
  &__stripe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
  }
}

.category-list__item,
.category-list__img {
  box-sizing: border-box;
}

.category-list__title--mobile {
  display: block;
}
.category-list__title--desktop {
  display: none;
}
@media (min-width: 992px) {
  .category-list__title--mobile {
    display: none;
  }
  .category-list__title--desktop {
    display: flex;
  }
  .category-list {
    padding-top: 60px;
    background-color: #fff;
    max-width: 992px;

    &__items {
      display: grid;
      grid-template-columns: 213px 269px 269px 211px;
      gap: 10px;
      width: 992px;
      max-width: 992px;
      overflow: visible;
      margin: 0 auto;
      padding: 0;
      justify-content: unset;
    }
    &__title {
      font-size: 32px;
      letter-spacing: 0.15em;
      text-align: center;
      text-wrap: wrap;
      padding-bottom: 40px;
    }

    &__item {
      height: 274px;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      overflow: hidden;
      box-shadow: none;
      cursor: pointer;
      margin-left: 0;
      margin-right: 0;

      &:nth-child(1) {
        width: 213px;
        margin-left: 0;
        padding: 0;
      }

      &:nth-child(2) .category-list__img,
      &:nth-child(3) .category-list__img {
        width: 269px;
        height: 274px;
      }

      &:nth-child(4) {
        width: 211px;
        margin-right: 0;
        padding: 0;
      }

      &:nth-child(4) .category-list__img {
        width: 211px;
        height: 274px;
      }
    }

    &__img,
    &__stripe-img-wrap {
      background: transparent;
    }

    &__stripe-img-wrap {
      width: 992px;
      height: 185px;
    }
  }
}

@media (min-width: 1366px) {
  .category-list {
    &__title {
      padding-bottom: 80px;
      font-size: 32px;
      max-width: 1366px;
    }
    &__items {
      display: grid;
      grid-template-columns: 273px 345px 345px 271px 1fr;
      gap: 15px;
      width: 100%;
      overflow: visible;
      margin: 0 auto;
      padding: 0;
      justify-content: unset;
    }
    &__item {
      height: 352px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      overflow: hidden;
      box-shadow: none;
      cursor: pointer;
      margin-left: 0;
      margin-right: 0;
      &:nth-child(1) .category-list__img {
        width: 273px;
        height: 352px;
      }
      &:nth-child(2) .category-list__img,
      &:nth-child(3) .category-list__img {
        width: 345px;
        height: 352px;
      }
      &:nth-child(4) .category-list__img {
        width: 271px;
        height: 352px;
      }
    }
    &__stripe-img-wrap {
      width: 1280px;
      height: 237px;
    }
  }
}
