.category-list {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  background: #fff;

  &__title {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-wrap: nowrap;
  }

  &__items {
    display: grid;
    grid-template-columns: 273px 345px 345px 271px 1fr;
    gap: 15px;
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 0;
  }

  &__item {
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    cursor: pointer;
    &:nth-child(1) .category-list__img {
      width: 273px;
      height: 352px;
    }
    &:nth-child(2) .category-list__img,
    &:nth-child(3) .category-list__img {
      width: 345px;
      height: 352px;
    }
    &:nth-child(4) .category-list__img {
      width: 271px;
      height: 352px;
    }
  }

  &__img {
    object-fit: cover;

    background: #f0f2ef;
    display: block;
  }

  &__stripe-img-wrap {
    width: 1280px;
    height: 237px;
    margin: 24px auto 0 auto;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f2ef;
  }
  &__stripe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
  }
}

@media (max-width: 991px) {
}
@media (min-width: 1366px) {
  .category-list {
    &__title {
      padding-bottom: 80px;
      font-size: 32px;
    }
  }
}
